.container {
  max-width: 90%;
}

.weather-app {
  border: 1px solid #d0d0d0;
  border-radius: 20px;
  padding: 38px 20px 10px 20px;
  /* padding-top: 35px; */
  margin-top: 40px;
}

.search-icon {
  position: relative;
  left: 30px;
}

.search-field {
  padding: 7px 7px 7px 30px;
  border-radius: 18px;
  border: 1px solid #000;
}

.search-input .search-button {
  height: 40px;
  position: relative;
}

.search-button {
  margin-left: 10px;
}

.features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features a {
  text-decoration: none;
}
.features .tokyo,
.manila,
.new-york {
  padding: 0 20px;
  margin-left: 18px;
  margin-top: 15px;
  line-height: 34px;
  position: relative;
  float: right;
  right: -740px;
  top: -60px;
  border: 1px solid #984a59;
  border-radius: 50px;
  transition: all 150ms ease-in-out;
}

.features .tokyo,
.manila,
.new-york {
  color: #ffff;
  background: #984a59;
  border: 1px solid #984a59;
}

.features .tokyo:hover,
.manila:hover,
.new-york:hover {
  background: #ffff;
  color: #984a59;
}

.main-weather {
  margin: 20px 20px 20px 0;
  position: relative;
  background: linear-gradient(
    63deg,
    rgb(242, 168, 168) 2.9%,
    rgb(94, 46, 165) 102.1%
  );
  border: none;
  text-align: center;
}

.main-weather .date-today {
  padding: 20px 20px 10px 20px;
  color: #ffff;
  font-family: "Courier New", Courier, monospace;
}

.main-weather h1 {
  text-align: center;
  font-size: 45px;
  color: #fcfefe;
  font-family: "Poppins", sans-serif;
}

.main-weather .main-icon {
  display: block;
  margin: 10px 70px;
}

.weather-temperature strong {
  font-size: 70px;
  color: #fcfefe;
  font-family: "Poppins", sans-serif;
}

.weather-temperature a {
  text-decoration: none;
}

.weather-temperature .celFarh {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: #111f4d;
  font-size: 16px;
}

.weather-temperature .celcius {
  color: #fcfefe;
  cursor: default;
}

.weather {
  list-style: none;
  text-align: justify;
  margin-top: -30px;
  color: #111f4d;
}

.weather .today {
  font-size: 23px;
  font-weight: 500;
  text-transform: capitalize;
}

.forecast-heading {
  position: absolute;
  top: 170px;
  left: 460px;
}

.weather-forecast {
  position: absolute;
  top: 180px;
  right: 100px;
  border: none;
  margin: 23px 0px;
}

.weather-forecast .day {
  font-size: 18px;
  padding: 10px;
  text-align: center;
  background: #fcfefe;
  border: 1px solid #fcfefe;
  color: #111f4d;
  font-family: "Work Sans", sans-serif;
}

.weather-forecast .day:hover {
  background: #fdffcd;
}

.weather-forecast .week {
  column-gap: 8px;
}

.weather-forecast .date {
  padding-bottom: 10px;
}

.weather-forecast .temperature {
  padding: 20px;
}

.weather-forecast .forecast {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.weather-forecast .date {
  font-size: 14px;
}

.weather-advisory {
  list-style: none;
  margin: 0;
  padding: 0;
  top: -135px;
  left: 412px;
  position: relative;
}

.weather-advisory li {
  display: inline-block;
}

.weather-advisory .precipitation,
.humidity,
.wind {
  padding: 18px;
  margin-left: 20px;
  margin-top: 15px;
  line-height: 34px;
  position: relative;
  text-align: center;
  color: #111f4d;
  border-radius: 35px;
}

.weather-advisory .precipitation {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(10, 174, 227) 0%,
    rgb(124, 182, 255) 100.2%
  );
}

.weather-advisory .humidity {
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
}

.weather-advisory .wind {
  background: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
}

.footer {
}
